//eSte archvio se nombra con _ al principio inidica q esta archivo se usara con otro archivo



// variables en sass
$fuente_principal : "Montserrat", sans-serif;
$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;